*{
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.4;
    color: #011627;
    background-color: #fdfffc;
    margin: 0;
}

a {
    color: #e71d36;
    text-decoration: none;
}

p{
    line-height: 1.5;
}

h1,
h2 {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
}

h1 {
    color: #011627;
    font-size: 2rem;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.75em;
}

header{
    text-align: center;
    background-color: black;
    padding-top: 5px;
    margin-bottom: 30px;
}
header .métier{
    margin-top: -5px;

}
header .nom{
    color: aqua;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 0.8;
    margin: 1rem 0;
}

header nav{
    padding: 10px 0;
    margin-top: 20px;
}

header nav ul {
    padding: 0;
    margin: 0 10px;
}

header nav ul li{
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

header nav ul li:first-child {
    display: none;
}

header nav ul li a{
    color: #fdfffc;
    font-weight: 800;
    padding: 15px 10px;
}

header nav ul li a:hover{
    color: aqua;
    font-weight: 800;
    padding: 15px 10px;
}

main{
    margin: 5%;
}

